.inventory{
    width: 100%;
    padding: 5rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;



}
.inventory-contents{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#h1-inv{
    font-size: 3rem;
    background: #000000;
    background: linear-gradient(to bottom, #000000 0%, #888888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-weight: 200;
    font-style: normal
    
}

#p-inv{
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-style: normal
}

.cardsscontain{
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.cards-container {
    font-family: "Poppins", sans-serif;

    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
}

.contents-card{
    padding: 2rem 2rem;
}

.cards-car {
   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: calc(33.33% - 20px); /* 33.33% width for each card, minus margin */
    margin-bottom: 20px; /* Adjust spacing between rows */
    box-sizing: border-box; /* Include padding and border in the width */
}

.image-card img {
    width: 100%;
    height: auto;
    display: block; /* Remove extra space under image */
}
.name-card{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.price-card{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    font-style: normal;
    padding: 1rem 0 2rem 0rem;

}

.buttons-card{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;


    .buy-button{
        button{
            background-color: #4FAAFF;
            color: white;
            outline: none;
            border: none;
            width: 7rem;
            height: 2.2rem;
            border-radius: 20px;
            font-size: 1rem;

        }

     
      
    }
    .customise-button{
        button{
            background-color: transparent;
            outline: none;
            border: none;
            font-siz1e: 1.1rem;
            color: #0000008e;

        }
    }
}

.heads{
    display: flex;
    padding: 0rem 15rem;
    font-family: "Poppins", sans-serif;

    .order{
        font-size: 2.4rem;
        font-weight: 100;
    }

    .browse{
        font-size: 1rem;
        font-weight: 200;
        display: flex;
        align-items: center;
        padding-left: 4rem;
        padding-top: 1rem;
    }

}

.icon-next{
    color: #0000008d;
    padding-left: 0.8rem;
    font-size: 0.8rem;
}



